/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* end font importing */

/* some basic settings for easy use */
:root{
    --main-color: #000000;
    --primary-color: #ffffff;
    --main-font: "Open Sans"
}
/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header starts */
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
}
/* img section */
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65px;
    padding-top: 5px;
    /* height: 50px; */
    /* border: 2px solid red; */
    text-align: center;
}
.logo .logo-img{
    width: 40px;
    height: 50px;
    object-fit: contain;
    align-content: center;
}
/* img done */

.main-header{
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

/* left secton start */

.main-left{
    display: flex;
    flex-direction: row;
    /* background-color: lightblue; */
    width: 650px;
    height: 100%;
}
.main-left a{
    display: flex;
    font-size: 16px;
    /* border: 2px solid darkgreen; */
    /* min-height:100%; */
    color: rgb(0, 0, 0);
    padding: 0 10px;
    align-items: center;
    text-decoration: none;
}
.main-left a:hover{
    color: white;
    background-color: rgb(100, 187, 119);
}
.main-left i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mag{

    padding: 10px;
    transform: translateX(-40px);
}
#dark{
    padding: 10px;
    transform: translateX(-35px);
}
#down{
    padding: 5px;
}
#own{
    padding: 5px;
    color: #9663f6;
}

.text-con{
    display:flex ;
    flex-direction: row;
    padding: 10px ;
    /* outline: none; */
}
.text-inp{
    border:  solid rgba(0, 0, 0, 0.25) ;
    border-radius: 50px;
    padding: 9px 31px 10px 19px;
    outline: none;
    font-style: italic;
}
.text-inp:focus{
    border: 3.5px solid rgb(42, 195, 136);
    outline: none;
}
/* left secton done */

/* Right secton start */

.main-right{
    display: flex;
    flex-direction: row;
    /* background-color: lightpink; */
}

.main-right a{
    display: flex;
    color: rgb(0, 0, 0);
    padding:9px 11px;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.main-right a:hover{
    background-color: #dcdada;
    border-radius: 50px;
}
.main-right .sig{
    font-size: 1.1rem;
    border-radius: 60px;
    /* padding: 1px 1px ÷1px 1px; */
    color: white;
    background-color: #019a68;
    transform: translatex(40px);
    z-index: 5;
    padding-right: 20px;
    padding-left: 20px;
}
.main-right .log{
    font-size: 1.1rem;
    border-radius: 50px;
    /* padding: 1px 1px ÷1px 1px; */
    color: rgb(0, 0, 0);
    background-color: #d9eee1;
    padding-left: 50px;
    padding-right: 20px;
}
.main-right .log:hover{
    background-color: #00895b;
    color:white ;
}